<div class="curriculum-listings">
  <div class="container_div">
   <br/>
  <br/>
    <ul class="scrolling">
      <a>
        <li ng-repeat="area in allAreas"> 
          <input type="hidden" ng-model="area.id">  
          <div class="curriculum-title">
          <br/>
          <span align="center" ng-model="area.title">{{area.title}}</span>
          </div>
          <div class="curriculum-desc" ng-model="area.description">{{area.description}}</div>
          <div align="center">
            <a class="btn btn-primary" ui-sref="app.areagraph">Graph</a>
            <a class="btn btn-primary" ui-sref="app.areacourses({areaId: area.id})">View</a>
            <a class="btn btn-primary" ui-sref="app.areapopupedit({areaId: area.id})">Edit</a>
            <a class="btn btn-primary" ng-click="deletearea(area)">Delete</a>
          </div>
          <br>
        </li>
        <li>
          <div align="center" style="margin-top: 25%;">
            <input type="button" class="btn btn-primary" ui-sref="app.areapopup" value="New Area">
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>