<div id="scrollableContent" class="contentArea">
    <div class="curriculum-listings">
    <ul>
      <a ui-sref='app.math.module({moduleId:module.id})'>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Math</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li></a>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Course A</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Course A</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Course A</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Course A</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Course A</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Course A</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li>
      <li>
      	<div class="curriculum-title">
        <img src="images/spacer.gif" />
        <span>Course A</span></div>
        <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
      </li>
    </ul>
   </div>
   


  <a ui-sref="app.newcourse">
      <li>
      <input name="" type="submit" class="btn btn-success" value="Add Course" />
      </li></a>
</div>
  
