<div style="margin-left: 8%; margin-right: 20%; background-color: yellow;">
  <br/>
  <div style="margin-left: 5%;">
  <span class="title">Question :</span>
  <br/>
  <br/>
  <p editable-text="datajsons[0].questions[0].question" e-name="datajsons[0].questions[0].question" e-form="editableForm" e-required>{{datajsons[0].questions[0].question}}
  </p>
  <br/>
  <br/>
  <span class="title">Answer</span>
  <p editable-text="datajsons[0].questions[0].answer" e-name="datajsons[0].questions[0].answer" e-form="editableForm" e-required>{{datajsons[0].questions[0].answer}}
  </p>
  <br/>
  <br/>
  <br/>
  <br/>
</div>