<div id="scrollableContent">
  <form role="form">
  <br/>
  <br/>
  <div class="container">
  <h2>Select Module & Lesson</h2>
  <br/>
  <br/>
    <div class="row">
      <div class="col-lg-3" >
        <div class="form-group">
          <select id="subject" name="subject" class="form-control">
             <option value="na" selected="">Select Module</option>
             <option value="">K-12</option>
             <option value="">IIT</option>
             <option value="">MBA Entrance</option>
             <option value="">Bank-PO</option>
             <option value="">GRE</option>
             <option value="">SAT</option>
          </select>         
        </div>
      </div>
    </div>
    <br/>
    <div class="row"  >
      <div class="col-lg-3" >
        <div class="form-group">
         <select id="subject" name="subject" class="form-control">
           <option value="na" selected="">Select Lesson</option>
           <option value="">Maths</option>
             <option value="">Chemistry</option>
             <option value="">Physics</option>
             <option value="">Quant </option>
             <option value="">Verbal</option>
             <option value="">DI-LR</option>
         </select>         
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-3" >
        <a ui-sref="app.itemtype">
          <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
        <a>
      </div>
    </div>
    <br/>
    <br/>
    </div>
  </form>
</div>
<style type="text/css">
  .container{
    margin-left: 40%;
  }
</style>