<div id="scrollableContent">
  <form role="form">
  <br/>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-3" >
        <div class="form-group">
          <select id="subject" name="subject" class="form-control">
             <option value="na" selected="">Select Category</option>
             <option value="">K-12</option>
             <option value="">IIT</option>
             <option value="">MBA Entrance</option>
             <option value="">Bank-PO</option>
             <option value="">GRE</option>
             <option value="">SAT</option>
          </select>         
        </div>
      </div>
    </div>
    <div class="row"  >
      <div class="col-lg-3" >
        <div class="form-group">
         <select id="subject" name="subject" class="form-control">
           <option value="na" selected="">Select Course</option>
           <option value="">Maths</option>
             <option value="">Chemistry</option>
             <option value="">Physics</option>
             <option value="">Quant </option>
             <option value="">Verbal</option>
             <option value="">DI-LR</option>
         </select>         
        </div>
      </div>
    </div>
    <div class="row"  >
      <div class="col-lg-3" >
        <div class="form-group">
          <select id="subject" name="subject" class="form-control">
             <option value="na" selected="">Select Grade</option>
             <option value="">1</option>
             <option value="">2</option>
             <option value="">3</option>
             <option value="">4</option>
             <option value="">5</option>
             <option value="">6</option>
             <option value="">7</option>
             <option value="">8</option>
             <option value="">9</option>
             <option value="">10</option>
             <option value="">11</option>
             <option value="">12</option>
          </select>         
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-3" >
        <div class="form-group">  
          <textarea name="message" id="message" class="form-control" rows="6"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" >
        <a ui-sref="app.dashboard">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
        <a>
      </div>
    </div>
    <br/>
    <br/>
    </div>
  </form>
</div>
<style type="text/css">
  .container{
    margin-left: 40%;
  }
</style>