<form editable-form name="editableForm" shown="true">
  <div class="row" style="margin-left: 10%; margin-right: 10%; background-color: #6eb8d7;">
    <h2 align="center">Create Simple Question</h2>
      <br/>
	  <div class="col-md-8" style="margin-left:5%;">
      <span class="title">Question:</span>
      <br/>
      <br/>
      <p class="form-control" e-rows="5" e-cols="70" ng-model="item.question.items.question" editable-textarea="item.question.items.question" e-name="item.question.items.question" e-form="editableForm" e-required>{{item.question.items.question}}
      </p>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <span class="title">Question Type:</span>
          <br/>
          <br/>
          <p  align="center" ng-model="item.qtype" editable-text="item.qtype" e-name="item.qtype" e-form="editableForm" e-required>{{item.qtype}}
          </p>
          <br/>
          <span class="title"> Type :</span>
          <br/>
          <p  align="center" ng-model="item.type" editable-text="item.type" e-name="item.type" e-form="editableForm" e-required>{{item.type}}
          </p>
          <br/>
          <span class="title">Grit :</span>
          <br/>
          <p ng-model="item.grit" editable-text="item.grit" e-form="editableForm" e-rows="10" e-cols="80">{{item.grit}}
          </p>
          <br/>
          <span class="title">Level :</span>
          <br/>
          <p ng-model="item.level" editable-text="item.level" e-form="editableForm" e-rows="10" e-cols="80">{{item.level}}
          </p>
          <br/>
          <span class="title">Diff :</span>
          <br/>
          <p ng-model="item.diff" editable-text="item.diff" e-form="editableForm" e-rows="10" e-cols="80">{{item.diff}}
          </p>  
          <br/>
          <span class="title">Answer :</span>
          <br/>
          <p ng-model="item.question.items.answer" editable-text="item.question.items.answer" e-form="editableForm">{{item.question.items.answer}}
          </p>
          <br/>
          <span class="title">Solution :</span>
          <br/>
          <p ng-model="item.question.items.solution" editable-text="item.question.items.solution" e-form="editableForm" e-rows="10" e-cols="80">{{item.question.items.solution}}
          </p>
          <br/>
          <br/>
          <br/>
          <br/>
        </div>
        <div class="col-md-4">
          <span class="title">Options:</span>  
          <br/>
          <br/> 
          <table border="0">
            <tr>
            <td width="30%">
              <p editable-text = "item.question.items.option1" e-form="editableForm">
              <input  type="radio" ng-model ="item.question.items.option1"  name="option" value="{{item.question.items.option1}}"/>&nbsp;&nbsp;<b>A.</b>&nbsp; {{item.question.items.option1}}
              </p>
            </td>
            </tr>
            <tr>
            <td width="30%">
              <p editable-text = "item.question.items.option2" e-form="editableForm">
              <input  type="radio" ng-model ="item.question.items.option2" name="option" value="{{item.question.items.option2}}"/>&nbsp;&nbsp;<b>A.</b>&nbsp; {{item.question.items.option2}}
              </p>
            </td>
            </tr>
            <tr>
            <td width="30%">
              <p editable-text = "item.question.items.option3" e-form="editableForm">
              <input  type="radio" ng-model ="item.question.items.option3"name="option" value="{{item.question.items.option3}}"/>&nbsp;&nbsp;<b>A.</b>&nbsp; {{item.question.items.option3}}
              </p>
            </td>
            </tr>
            <tr>
              <td width="30%">
                <p editable-text ="item.question.items.option4" e-form="editableForm">
                <input type="radio" ng-model ="item.question.items.option4" name="option" value="{{item.question.items.option4}}"/>&nbsp;&nbsp;<b>A.</b>&nbsp; {{item.question.items.option4}}
                </p>
            </td>
            </tr>
          </table>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <button type="button" class="btn btn-success" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
            Edit
           </button>
          <button type="button"  ui-sref="app.itemtype({lessonId: lessonid2})" class="btn btn-success" ng-click= "save(1)" ng-show="!editableForm.$visible">
            Save
          </button>
          <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-success" ng-disabled="editableForm.$waiting">
              Re-edit
            </button>
          </span>
        </div>
	    </div>
    </div>
   <!--  <div class="col-md-4">
    </div> -->

   <!--  <div class="col-md-4">  
  		VERY FIRST LEVEL
  		    </div> -->
    <div class="col-md-3">
      <span class="title">Itype</span>
      <br/>
      <br/>
      <select id="subject" ng-model="item.question.items.itype" e-required class="form-control">
        <option value="">Question Type</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>{{item.question.items.itype}}</option>
      </select>
      <br/>
      <span class="title">Grit :</span>
      <br/>
      <!-- <p ng-model="item.question.items.grit" editable-text="item.question.items.grit" e-form="editableForm" e-rows="10" e-cols="80">{{item.question.items.grit}}
      </p> -->
      <select id="subject" ng-model="item.question.items.grit" e-required class="form-control">
        <option value="">Question Grit</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>{{item.question.items.grit}}</option>
      </select>
      <br/>
      <span class="title">Level :</span>
      <br/>
      <!-- <p ng-model="item.question.items.level" editable-text="item.question.items.level" e-form="editableForm" e-rows="10" e-cols="80">{{item.question.items.level}}
      </p> -->
      <select id="subject" ng-model="item.question.items.level" e-required class="form-control">
        <option value="">Question level</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>{{item.question.items.level}}</option>
      </select>
      <br/>
      <span class="title">Difficulty:</span>
      <br/>
      <!-- <p ng-model="item.question.items.difficulty" editable-text="item.question.items.difficulty" e-form="editableForm" e-rows="10" e-cols="80">{{item.question.items.difficulty}}
      </p> -->
      <select id="subject" ng-model="item.question.items.difficulty" e-required class="form-control">
        <option value="">Question difficulty</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>{{item.question.items.difficulty}}</option>
      </select>
      <br/>
      <span class="title">Lo:</span>
      <br/>
      <!-- <p ng-model="item.question.items.difficulty" editable-text="item.question.items.difficulty" e-form="editableForm" e-rows="10" e-cols="80">{{item.question.items.difficulty}}
      </p> -->
      <select id="subject" ng-model="item.question.items.lo" e-required class="form-control">
        <option value="">Question LO</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>{{item.question.items.lo}}</option>
      </select>
      <br/>
      <span class="title">Skill:</span>
      <br/>
     <!--  <p ng-model="item.question.items.skill" editable-text="item.question.items.skill" e-form="editableForm" e-rows="10" e-cols="80">{{item.question.items.skill}}
      </p> -->
      <select id="subject" ng-model="item.question.items.skill" e-required class="form-control">
        <option value="">Question Skill</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>{{item.question.items.skill}}</option>
      </select>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <button type="button" class="btn btn-success" ng-click="editableForm.$show()" ng-show="editableForm.$visible">
        Map
      </button>
    </div>
	</div>
</form>

<style type="text/css">

form[name="editableForm"] .title {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  min-width: 90px;
}

form[name="editableForm"] .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}
form[name="editableForm"] > div {
  height: auto;
  padding: 5px 0;
}
</style>