<form name="createarea" class="management" novalidate>
  <div class="control-group">
    <label class="control-label" align="center"><h3><b>New Area</b></h3></label>
    <br/>
    <div class="form-group" ng-class="{ 'has-error' : createarea.id.$invalid && !createarea.id.$pristine }">
      <input type="text" placeholder="Area Id" class="form-control" name="id" ng-model="area.id" ng-minlength="7" ng-maxlength="30" required>
      <!-- <p ng-show="createarea.id.$invalid && !createarea.id.$pristine" class="help-block">You should enter id properly</p> -->
      <p ng-show="createarea.id.$error.minlength" class="help-block">Id should be more than 7</p>
      <p ng-show="createarea.id.$error.maxlength" class="help-block">Id should be less than 30</p>
    </div>

    <div class="form-group" ng-class="{'has-error' : createarea.title.$invalid && !createarea.title.$pristine }">
      <input type="text" placeholder="Area title" class="form-control" name="title" ng-model="area.title" ng-minlength="7" ng-maxlength="50" required>
      <p ng-show="createarea.title.$error.minlength" class="help-block">Title should be more than 7</p>
      <p ng-show="createarea.title.$error.maxlength" class="help-block">Title should be less than 50</p>
    </div>
    <div class="form-group" ng-class="{'has-error' : createarea.image.$invalid && !createarea.image.$pristine }">
        <input type="text" placeholder="Area Image" class="form-control" name="image" ng-model="area.image" ng-minlength="25" ng-maxlength="40" required>
        <p ng-show="createarea.image.$error.minlength" class="help-block">Image should be more than 20</p>
        <p ng-show="createarea.image.$error.maxlength" class="help-block">Image should be less then 30</p>
    </div>
    <div class="form-group" ng-class="{'has-error' : createarea.description.$invalid && !createarea.description.$pristine }">
        <textarea name="description" class="form-control" rows="6" Placeholder="Description" id ="description" ng-model="area.description" ng-minlength="20" ng-maxlength="70" required>
        </textarea>          
        <p ng-show="createarea.description.$error.minlength" class="help-block">description should be more than 20</p>
        <p ng-show="createarea.description.$error.maxlength" class="help-block">description should be less than 70</p>
    </div>
    <div class="controls" ng-disabled="createarea.$invalid">
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="createarea.$invalid" ng-click="save(1)" ui-sref="app.contentarea">Save</button>
      <button ui-sref="app.contentarea" class="btn btn-primary">Back</button>
    </div>
  </div>
</form>

<style type="text/css">
  .management
  {
    margin-left: 40%;
    margin-right: 40%;
  }
</style>