<br/>
<br/>
<br/>
<br/>
<br/>
<div class="form-group" style="margin-left:35%; margin-right:35%;">
  <div class="controls">
    <div class="row" >
      <input type="text" placeholder="Enter the permission name"  class="form-control"/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="col-md-4">
        <div align="left">
          <input type="button" style="background-color: #6eb8d7" class="btn btn-primary" value="Save" />
        </div>
      </div>
      <div class="col-md-4">
        <div align="center">
          <button class="btn btn-primary" style="background-color: #6eb8d7">Cancel</button>
        </div>
      </div>
      <div class="col-md-4">
        <div align="center">
          <button class="btn btn-primary" style="background-color: #6eb8d7">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>