<br/>
<div align="right" style="margin-right: 20%;">
  <a class="btn btn-success" ui-sref="app.permission">New Permission</a>
</div>
<br/>
<br/>
<div style="margin-left: 15%;">
   <form class="navbar-search">
    <input type="text" ng-model="query" class="search-query span3" class="form-control" placeholder="Search">
  </form>
</div>
<br/>
<br/>
<div class="item_heading">
  <div class="row">
    <div class="col-md-4"><b><h3>&nbsp;&nbsp;&nbsp;Id</h3></b></div>
    <div class="col-md-4"><b><h3>&nbsp;&nbsp;&nbsp;Name</h3></b></div>
    <div class="col-md-4"><b><h3>&nbsp;&nbsp;&nbsp;Action</h3></b></div>
  </div>
</div>
<div class="row" ng-repeat= "permission in permissions | filter:query" style="margin-left: 15%; margin-right: 20%; background-color:white;">
  <hr>
  <div class="col-md-4">{{permission.id}}</div>
  <div class="col-md-4">{{permission.name}}</div>
  <div class="col-md-4">
    <button type="button" class= "btn btn-primary" ui-sref="app.PermissionEdit({permissionId: permission.id})">Edit</button>
    <button type="button" class= "btn btn-primary"  ng-click="deletepermission(permission)">Delete</button>
  </div>
</div>