<div class="curriculum-listings">
  <h3 align="center"><b>Admin - Suborganizatioon</b></h3>
  <div class="backing">
    <a class="btn btn-primary" ui-sref="app.organization">Back</a>  
  </div>
  <br/>
  <div class="container_div">
    <ul class="scrolling">
      <a>
        <li>
          <div align="center" style="margin-top: 25%;">
            <input type="button" class="btn btn-primary" ng-click="open(suborg.id, 1)" value="New Subsuborganization">
          </div>
        </li>
        <li ng-repeat="suborg in suborgs">   
          <div class="curriculum-title">
          <br/>
            <span align="center">{{suborg.id}}</span>
          </div>
          <div class="curriculum-desc">{{suborg.name}}</div>  
          <div align="center">
            <!-- <a class="btn btn-primary" ui-sref="app.areacourses({areaId: area.id})">Graph</a> -->
            <a class="btn btn-primary" ui-sref="app.school({suborgId: suborg.id})">View</a>
            <a class="btn btn-primary" ng-click="open(suborg.id, 2)">Edit</a>
            <a class="btn btn-primary" ng-click="deletecourse(suborg)">Delete</a>
          </div>
          <br>
        </li>
      </a>
    </ul>
  </div>
</div>

<script type="text/ng-template" id="mycourseModalContent.html">
  <div class="modal-header">
      <h3 align="center" ng-if="id===1"><b>New Subsuborganization</b></h3>
      <h3 align="center" ng-if="id===2"><b>Edit Subsuborganization</b></h3>
  </div>
  <div class="modal-body">
    <form name="suborganization" class="model" novalidate>
      <div class="control-group">
        <br/>
       <!--  <div class="form-group" ng-class="{ 'has-error' : suborganization.input.$invalid && !suborganization.input.$pristine }">
          <input type="text" id="input" name="input" placeholder="suborganization Id" class="form-control" ng-model="suborg.id" ng-pattern="regex" ng-minlength="6" ng-maxlength="10" required> 
          <p ng-show="suborganization.input.$invalid && !suborganization.input.$pristine" class="help-block">You should enter id properly in format like: IITJEE-001</p>
          <p ng-show="suborganization.input.$error.minlength" class="help-block">Id should be more than equal 6</p>
          <p ng-show="suborganization.input.$error.maxlength" class="help-block">Id should be less than equal 10</p>
        </div> -->

        <div class="form-group" ng-class="{'has-error' : suborganization.name.$invalid && !suborganization.name.$pristine }">
          <input type="text" placeholder="suborganization name" class="form-control" name="name" ng-model="suborg.name" ng-minlength="5" ng-maxlength="50" required>
          <p ng-show="suborganization.name.$error.minlength" class="help-block">name should be more than 5</p>
          <p ng-show="suborganization.name.$error.maxlength" class="help-block">name should be less than 50</p>
        </div>

        <div class="form-group" ng-class="{'has-error' : suborganization.line1.$invalid && !suborganization.line1.$pristine }">
            <input type="text" placeholder="Address line1" class="form-control" name="line1" ng-model="suborg.line1" ng-minlength="5" ng-maxlength="20" required>
            <p ng-show="suborganization.line1.$error.minlength" class="help-block">line1 should be more than 5</p>
            <p ng-show="suborganization.line1.$error.maxlength" class="help-block">line1 should be less then 20</p>
        </div>

        <div class="form-group" ng-class="{'has-error' : suborganization.line2.$invalid && !suborganization.line2.$pristine }">
            <input type="text" placeholder="Address line2" class="form-control" name="line2" ng-model="suborg.line2" ng-minlength="5" ng-maxlength="20" required>
            <p ng-show="suborganization.line2.$error.minlength" class="help-block">line2 should be more than 5</p>
            <p ng-show="suborganization.line2.$error.maxlength" class="help-block">line2 should be less then 20</p>
        </div>

        <div class="form-group" ng-class="{'has-error' : suborganization.city.$invalid && !suborganization.city.$pristine }">
          <input type="text" placeholder="Address city" class="form-control" name="city" ng-model="suborg.city" ng-minlength="5" ng-maxlength="20" required>
          <p ng-show="suborganization.city.$error.minlength" class="help-block">city should be more than 5</p>
          <p ng-show="suborganization.city.$error.maxlength" class="help-block">city should be less then 20</p>
        </div>

        <div class="form-group" ng-class="{'has-error' : suborganization.state.$invalid && !suborganization.state.$pristine }">
          <input type="text" placeholder="Address state" class="form-control" name="state" ng-model="suborg.state" ng-minlength="2" ng-maxlength="15" required>
          <p ng-show="suborganization.state.$error.minlength" class="help-block">state should be more than 2</p>
          <p ng-show="suborganization.state.$error.maxlength" class="help-block">state should be less then 15</p>
        </div>

        <div class="form-group" ng-class="{'has-error' : suborganization.country.$invalid && !suborganization.country.$pristine }">
          <input type="text" placeholder="Address country" class="form-control" name="country" ng-model="suborg.country" ng-minlength="5" ng-maxlength="20" required>
          <p ng-show="suborganization.country.$error.minlength" class="help-block">country should be more than 5</p>
          <p ng-show="suborganization.country.$error.maxlength" class="help-block">country should be less then 20</p>
        </div>        

        <div class="form-group" ng-class="{'has-error' : suborganization.pincode.$invalid && !suborganization.pincode.$pristine }">
            <textarea name="pincode" class="form-control" rows="6" Placeholder="pincode" id ="pincode" ng-model="suborg.pincode" ng-minlength="5" ng-maxlength="70" required>
            </textarea>          
            <p ng-show="suborganization.pincode.$error.minlength" class="help-block">pincode should be more than 5</p>
            <p ng-show="suborganization.pincode.$error.maxlength" class="help-block">pincode should be less than 70</p>
        </div>
        {{suborg}}
        <div class="controls" ng-disabled="suborganization.$invalid">
          <button  ng-if="id==1"ui-sref="app.suborganization({orgId: orgid})" class="btn btn-primary" ng-click="save(1)" ng-disabled="suborganization.$invalid">Save</button>
          <button ui-sref="app.suborganization({orgId: orgid})"  ng-if="id==2" class="btn btn-primary" ng-click="save(2)" ng-disabled="suborganization.$invalid">Save</button>
          <button ui-sref="app.suborganization({orgId: orgid})" class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</script>