<div class="customizing">
  <div class="row">
  <br/>
    <div ui-sref-active="active"  class="col-md-2"><a ui-sref="app.testsimplequestion({TestId: testid})" class="btn btn-info">Add S.Q.</a>
    </div>
    <div ui-sref-active="active" class="col-md-1">
      <a ui-sref="app.comprehensiontestitem({TestId: testid})" class="btn btn-info">Add C.Q.</a>
    </div>
  </div>
  <br/>
  <br/>
  <h1>Test Details</h1>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <h4><b>Name</b></h4>
    </div>
    <div class="col-md-2">
      <h4><b>Duration</b></h4>
    </div>
    <div class="col-md-2">
      <h4><b>No Of Questions</b></h4>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2" >
      {{Testdetails.name}}
    </div>
    <div class="col-md-2">
      {{Testdetails.duration}}
    </div>
    <div class="col-md-2">
      {{Testdetails.maximumMarks}}
    </div>
    <br/>
  </div>
  <br/>
  <!-- HERE IS THE LIST OF QUESTIONS OF TEST -->
  <br/>
  <h1> Details of Test Questions</h1>
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <h4><b>QType</b></h4>
    </div>
    <div class="col-md-2">
      <h4><b>Type</b></h4>
    </div>
    <div class="col-md-2">
      <h4><b>Operations</b></h4>
    </div>
  </div>
  <br/>
  <div class="row" ng-repeat="ItemdetailsofCourseTest in ItemdetailsofCourseTests">
    <div class="col-md-2" >
      {{ItemdetailsofCourseTest.qtype}}
    </div>
    <div class="col-md-2">
      {{ItemdetailsofCourseTest.type}}
    </div>
    <div class="col-md-3">
      <button type="button" class= "btn btn-primary" ui-sref= "app.edittestsimplequestion({ItemId: ItemdetailsofCourseTest.id})">Edit</button>
      <button type="button" class= "btn btn-primary"  ng-click= "deleteTestItem(ItemdetailsofCourseTest)">Delete</button>
    </div>
    <br/>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>