<div class="customizing">
  <br/>
  <h1>Test Details</h1>
  <br/>
  <div class="row">
    <div class="col-md-2">
      <h4><b>Name</b></h4>
    </div>
    <div class="col-md-2">
      <h4><b>Duration</b></h4>
    </div>
    <div class="col-md-2">
      <h4><b>No Of Questions</b></h4>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2" >
      {{Testdetails.name}}
    </div>
    <div class="col-md-2">
      {{Testdetails.duration}}
    </div>
    <div class="col-md-2">
      {{Testdetails.maximumMarks}}
    </div>
    <br/>
  </div>
  <br/>
</div>