<div class="customizing">
  <h1>New Module Test</h1>
  <br/>
  <form novalidate name="coursetest" role="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Name</label>
          <br/>
          <br/>
          <div class="input-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" ng-model="ModuleTest.name" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
        </div>
        <div class="form-group">
          <label for="Duration">Duration</label>
          <br/>
          <br/>
          <div class="input-group">
            <input type="text" ng-model="ModuleTest.duration" class="form-control" name="Duration" id="Duration" placeholder="Enter Duration" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
        </div>
        <div class="form-group">
          <label for="Maximum Marks">Maximum Marks</label>
          <br/>
          <br/>
          <div class="input-group">
            <input type="text" ng-model="ModuleTest.maximumMarks"class="form-control" name="Maximum Marks" id="Maximum Marks" placeholder="Enter Maximum Marks" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
        </div>
        <div class="form-group">
          <label for="Number of Questions">Number of Questions</label>
          <br/>
          <br/>
          <div class="input-group">
            <input type="text" ng-model="ModuleTest.numberOfQuestions"class="form-control" name="Number of Questions" id="Number of Questions" placeholder="Enter Number of Questions" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <br/>
            <a>
              <input type="button" class="btn btn-primary" ng-click="save(1)"  ui-sref="app.test" value="Save"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>