
<!-- THIS IS MATCH TYPE QUESTION -->

<div ng-if="itype == '0'">
  <div style="margin-left: 8%; margin-right: 20%; background-color: yellow;">
    <br/>
    <div style="margin-left: 5%;">
      <span class="title">Question:</span>
      <br/>
      <p editable-text="question.question" e-name="question.question" e-form="  editableForm" e-required>{{question.question}}
      </p>
      <br/>
      <span class="title">Options :</span>
      <br>    
      <table border="0">
      <tr>
      <td width="30%">
        <p editable-text = "question.option1" e-form="editableForm">
          <input  type="radio" name="option" value="{{question.option1}}"/>&nbsp;&nbsp;<b>A.</b>&nbsp; {{question.option1}}
        </p>
      </td>
        <td width="30%">
        <p editable-text="question.matcha" e-form="editableForm">
          <input type="radio" name="match" value="{{question.matcha">&nbsp;&nbsp;<b>1.</b>&nbsp;
          {{question.matcha}}
        </p>
      </td>
      </tr>
      <tr>
      <td>
        <p editable-text="question.option2" e-form="editableForm">
          <input type="radio" name="option" value="{{question.option2}}" />&nbsp;&nbsp;<b>B.</b>&nbsp; {{question.option2}}
        </p>
      </td>
      <td>
        <p editable-text="question.matchb" e-form="editableForm">
          <input type="radio" name="match" value="{{question.matchb}}" />&nbsp;&nbsp;<b>2.</b>&nbsp; {{question.matchb}}
        </p>
      </td>
      </tr>
      <tr>
      <td>
        <p editable-text="question.option3" e-form="editableForm">
          <input type="radio" name="option" value="{{question.questio.option3}}" />&nbsp;&nbsp;<b>C.</b>&nbsp; {{question.option3}}
        </p>
      </td>
      <td>
        <p editable-text="question.matchc" e-form="editableForm">
          <input type="radio" name="match" value="{{question.matchc}}" />&nbsp;&nbsp;<b>3.</b>&nbsp; {{question.matchc}}
        </p>
      </td>
      </tr>
      <tr>
      <td>
        <p editable-text="question.option4" e-form="editableForm">
          <input type="radio" name="option" value="{{question.option4}}" />&nbsp;&nbsp;<b>D.</b>&nbsp; {{question.option4}}
        </p>    
      </td>
      <td>
        <p editable-text="question.matchd" e-form="editableForm">
          <input type="radio" name="match" value="{{question.matchd}}" />&nbsp;&nbsp;<b>4.</b>&nbsp; {{question.matchd}}
        </p>
      </td>
      </tr>
    </table>
    <br/>
    <br/>
    <span class="title">Answer :</span>
    <p editable-text="question.answer" e-form="editableForm">{{question.answer}}</p>
    <br/>
    <br/>
    <span class="title">Hint :</span>
    <p editable-text="question.hint" e-form="editableForm">{{question.hint}}
    </p>
    <br/>
    <br/>
    <span class="title">Solution :</span>
      <p editable-textarea="question.solution" e-form="editableForm" e-rows="10" e-cols="80">{{question.solution}}
    </p>
    <br/>
    <br/>
    <span class="title">Grit :</span>
    <p editable-text="question.grit" e-form="editableForm">{{question.grit}}</p>
    <br/>
    <br/>
    <span class="title">Level :</span>
    <p editable-text="question.level" e-form="editableForm">{{question.level}}</p>
    </span>
    <br/>
    <br/>
    <span class="title">Difficulty :</span>
    <p editable-text="question.difficulty" e-form="editableForm">{{question.difficulty}}
    </p>
    <br/>
    <br/>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
    Edit
  </button>
  <button type="button" class="btn btn-primary" ng-click="savecq(1, itype)" ng-show="!editableForm.$visible">
    Publish
  </button>
  <span ng-show="editableForm.$visible">
    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
      Save
    </button>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="   editableForm.$visible">
      Map
    </button>
  </span>
  </div>   
  <br/>
  <br/>
  <br/>
  <br/>
</div>
</div>

<!-- THIS FILL TYPE QUESTION -->

<div ng-if="itype=='1'">
  <div style="margin-left: 8%; margin-right: 20%; background-color: yellow;">
    <br/>
    <div style="margin-left: 5%;">
      <span class="title">Itype</span>
      <br/>
      <p ng-model="question.itype" editable-text="question.itype" e-name="question.itype" e-form="editableForm" e-required> {{question.itype}}
      </p>
      <br/>
       <span class="title">Passage :</span>
        <br/>
        <p ng-model="question.passage" editable-text="question.passage" e-name="question.passage" e-form="editableForm" e-required>{{question.passage}}
        </p>
        {{itemt}}
      <br/>
      <span class="title">Question:</span>
      <br/>
      <p editable-text="question.question" e-name="question.question" e-form="  editableForm" e-required>{{question.question}}
      </p>
      <br/>
      <br/>
      <span class="title">Answer :</span>
      <p editable-text="question.answer" e-form="editableForm">{{question.answer}}</p>
      <br/>
      <br/>
      <span class="title">Solution :</span>
        <p editable-textarea="question.solution" e-form="editableForm" e-rows="10" e-cols="80">{{question.solution}}
      </p>
      <br/>
      {{question}}
      <br/>
      <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <button type="button" class="btn btn-primary" ng-click="createsave(question)" ng-show="!editableForm.$visible">
        Publish
      </button>
      <button type="submit" class="btn btn-primary" ng-click="savelocal(question)" ng-show="!editableForm.$visible">
          LocalSave
        </button>
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="   editableForm.$visible">
          Map
        </button>
      </span>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>

<div ng-if="itype == '2'">
  <div style="margin-left: 8%; margin-right: 20%; background-color: yellow;">
    <br/>
    <div style="margin-left: 5%;">
      <span class="title">Itype</span>
      <br/>
      <p ng-model="question.itype" editable-text="question.itype" e-name="question.itype" e-form="editableForm" e-required> {{question.itype}}
      </p>
      <br/>
      <span class="title">Question :</span>
      <br/>
      <p editable-text="question.question" e-name="question.question" e-form="  editableForm" e-required>{{question.question}}
      </p>
      <br/>
      <br/>
      <p editable-text="question.answer" e-form="editableForm">
        <input type="radio" name="option" value="{{question.answer}}" />&nbsp;&nbsp;&nbsp; True
      </p>
      <br/>
      <p editable-text="question.answer" e-form="editableForm">
        <input type="radio" name="option" value="{{question.answer}}" />&nbsp;&nbsp;&nbsp; False
      </p>
    <br/>
    <br/>
    <span class="title">Answer :</span>
    <p editable-text="question.answer" e-form="editableForm">{{question.answer}}</p>
    <br/>
    {{question}}
    <br/>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
    Edit
  </button>
  <button type="button" class="btn btn-primary" ng-click="createsave(question)" ng-show="!editableForm.$visible">
    Publish
  </button>
  <button type="submit" ng-click="savelocal(question)" class="btn btn-primary" ng-disabled="editableForm.$waiting">
     LocalSvae
    </button>
  <span ng-show="editableForm.$visible">
    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
      Re-edit
    </button>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="   editableForm.$visible">
      Map
    </button>
  </span>
  </div>   
  <br/>
  <br/>
  <br/>
  <br/>
</div>
</div>
