
<!-- THIS IS MATCH TYPE QUESTION -->

<div ng-if="itype == '0'">
  <div style="margin-left: 8%; margin-right: 20%; background-color: yellow;">
    <br/>
    <div style="margin-left: 5%;">
      <span class="title">Question :</span>
      <br/>
      <p editable-text="itemms.question.items[itemt].question" e-name="itemms.question.items[itemt].question" e-form="  editableForm" e-required>{{itemms.question.items[itemt].question}}
      </p>
      <br/>
      <span class="title">Options :</span>
      <br>    
      <table border="0">
      <tr>
      <td width="30%">
        <p editable-text = "itemms.question.items[itemt].option1" e-form="editableForm">
          <input  type="radio" name="option" value="{{itemms.question.items[itemt].option1}}"/>&nbsp;&nbsp;<b>A.</b>&nbsp; {{itemms.question.items[itemt].option1}}
        </p>
      </td>
        <td width="30%">
        <p editable-text="itemms.question.items[itemt].matcha" e-form="editableForm">
          <input type="radio" name="match" value="{{itemms.question.items[itemt].matcha">&nbsp;&nbsp;<b>1.</b>&nbsp;
          {{itemms.question.items[itemt].matcha}}
        </p>
      </td>
      </tr>
      <tr>
      <td>
        <p editable-text="itemms.question.items[itemt].option2" e-form="editableForm">
          <input type="radio" name="option" value="{{itemms.question.items[itemt].option2}}" />&nbsp;&nbsp;<b>B.</b>&nbsp; {{itemms.question.items[itemt].option2}}
        </p>
      </td>
      <td>
        <p editable-text="itemms.question.items[itemt].matchb" e-form="editableForm">
          <input type="radio" name="match" value="{{itemms.question.items[itemt].matchb}}" />&nbsp;&nbsp;<b>2.</b>&nbsp; {{itemms.question.items[itemt].matchb}}
        </p>
      </td>
      </tr>
      <tr>
      <td>
        <p editable-text="itemms.question.items[itemt].option3" e-form="editableForm">
          <input type="radio" name="option" value="{{itemms.question.items[itemt].questio.option3}}" />&nbsp;&nbsp;<b>C.</b>&nbsp; {{itemms.question.items[itemt].option3}}
        </p>
      </td>
      <td>
        <p editable-text="itemms.question.items[itemt].matchc" e-form="editableForm">
          <input type="radio" name="match" value="{{itemms.question.items[itemt].matchc}}" />&nbsp;&nbsp;<b>3.</b>&nbsp; {{itemms.question.items[itemt].matchc}}
        </p>
      </td>
      </tr>
      <tr>
      <td>
        <p editable-text="itemms.question.items[itemt].option4" e-form="editableForm">
          <input type="radio" name="option" value="{{itemms.question.items[itemt].option4}}" />&nbsp;&nbsp;<b>D.</b>&nbsp; {{itemms.question.items[itemt].option4}}
        </p>    
      </td>
      <td>
        <p editable-text="itemms.question.items[itemt].matchd" e-form="editableForm">
          <input type="radio" name="match" value="{{itemms.question.items[itemt].matchd}}" />&nbsp;&nbsp;<b>4.</b>&nbsp; {{itemms.question.items[itemt].matchd}}
        </p>
      </td>
      </tr>
    </table>
    <br/>
    <br/>
    <span class="title">Answer :</span>
    <p editable-text="itemms.question.items[itemt].answer" e-form="editableForm">{{itemms.question.items[itemt].answer}}</p>
    <br/>
    <br/>
    <span class="title">Hint :</span>
    <p editable-text="itemms.question.items[itemt].hint" e-form="editableForm">{{itemms.question.items[itemt].hint}}
    </p>
    <br/>
    <br/>
    <span class="title">Solution :</span>
      <p editable-textarea="itemms.question.items[itemt].solution" e-form="editableForm" e-rows="10" e-cols="80">{{itemms.question.items[itemt].solution}}
    </p>
    <br/>
    <br/>
    <span class="title">Grit :</span>
    <p editable-text="itemms.question.items[itemt].grit" e-form="editableForm">{{itemms.question.items[itemt].grit}}</p>
    <br/>
    <br/>
    <span class="title">Level :</span>
    <p editable-text="itemms.question.items[itemt].level" e-form="editableForm">{{itemms.question.items[itemt].level}}</p>
    </span>
    <br/>
    <br/>
    <span class="title">Difficulty :</span>
    <p editable-text="itemms.question.items[itemt].difficulty" e-form="editableForm">{{itemms.question.items[itemt].difficulty}}
    </p>
    <br/>
    <br/>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
    Edit
  </button>
  <button type="button" class="btn btn-primary" ng-click="savecq(1, itype)" ng-show="!editableForm.$visible">
    Publish
  </button>
  <span ng-show="editableForm.$visible">
    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
      Save
    </button>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="   editableForm.$visible">
      Map
    </button>
  </span>
  </div>   
  <br/>
  <br/>
  <br/>
  <br/>
</div>
</div>

<!-- THIS FILL TYPE QUESTION -->

<div ng-if="itype=='1'">
  <div style="margin-left: 8%; margin-right: 20%; background-color: yellow;">
    <br/>
    <div style="margin-left: 5%;">
      <span class="title">Itype</span>{{itemt}}
      <br/>
      <p ng-model="itemms.question.items[itemt].itype" editable-text="itemms.question.items[itemt].itype" e-name="itemms.question.items[itemt].itype" e-form="editableForm" e-required> {{itemms.question.items[itemt].itype}}
      </p>
      <br/>
      <span class="title">Passage :</span>
        <br/>
        <p ng-model="itemms.question.items[itemt].passage" editable-text="itemms.question.items[itemt].passage" e-name="itemms.question.items[itemt].passage" e-form="editableForm" e-required>{{itemms.question.items[itemt].passage}}
        </p>
        {{itemt}}
      <br/>
      <span class="title">Question :</span>
      <br/>
      <p editable-text="itemms.question.items[itemt].question" e-name="itemms.question.items[itemt].question" e-form="  editableForm" e-required>{{itemms.question.items[itemt].question}}
      </p>
      <br/>
      <br/>
      <span class="title">Answer :</span>
      <p editable-text="itemms.question.items[itemt].Answer" e-form="editableForm">{{itemms.question.items[itemt].Answer}}</p>
      <br/>
      <br/>
      <span class="title">Solution :</span>
        <p editable-textarea="itemms.question.items[itemt].solution" e-form="editableForm" e-rows="10" e-cols="80">{{itemms.question.items[itemt].solution}}
      </p>
      <br/>
      {{itemm}}
      <br/>
      <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <button ui-sref="app.itemtype({lessonId: lessonid12})" type="button" class="btn btn-primary" ng-click="saving(itemm)" ng-show="!editableForm.$visible">
        Publish
      </button>
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="   editableForm.$visible">
          Map
        </button>
      </span>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>

<div ng-if="itype == '2'">
  <div style="margin-left: 8%; margin-right: 20%; background-color: yellow;">
    <br/>
    <div style="margin-left: 5%;">
      <span class="title">Question :</span>
      <br/>
      <p editable-text="itemms.question.items[itemt].question" e-name="itemms.question.items[itemt].question" e-form="  editableForm" e-required>{{itemms.question.items[itemt].question}}
      </p>
      <br/>
      <br/>
      <p editable-text="itemms.question.items[itemt].answer" e-form="editableForm">
        <input type="radio" name="option" value="{{itemms.question.items[itemt].answer}}" />&nbsp;&nbsp;&nbsp; True
      </p>
      <br/>
      <p editable-text="itemms.question.items[itemt].answer" e-form="editableForm">
        <input type="radio" name="option" value="{{itemms.question.items[itemt].answer}}" />&nbsp;&nbsp;&nbsp; False
      </p>
    <br/>
    <br/>
    <span class="title">Answer :</span>
    <p editable-text="itemms.question.items[itemt].answer" e-form="editableForm">{{itemms.question.items[itemt].answer}}</p>
    <br/>
    <br/>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
    Edit
  </button>
  <button type="button" class="btn btn-primary" ng-click="saving()" ng-show="!editableForm.$visible">
    Save
  </button>
  <span ng-show="editableForm.$visible">
    <button type="submit" ng-click="sendingIfo(item)"class="btn btn-primary" ng-disabled="editableForm.$waiting">
      Re-edit
    </button>
    <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="   editableForm.$visible">
      Map
    </button>
  </span>
  </div>   
  <br/>
  <br/>
  <br/>
  <br/>
</div>
</div>
