<form editable-form name="editableForm" shown="true">
	<div style="margin-left: 8%; margin-right: 20%; background-color: yellow;" class="row">
	  <div style="margin-left: 5%;" class="col-md-4">
	    <br/>
    	<br/>
    	<span class="title">Grit :</span>
    	<br/>
    	<p ng-model="items.grit" editable-text="items.grit" e-name="items.grit" e-form="editableForm" e-required>	{{items.grit}}
	    </p>
	    <br/>
	    <span class="title">Diff :</span>
    	<br/>
    	<p ng-model="items.diff" editable-text="items.diff" e-name="items.diff" e-form="editableForm" e-required>	{{items.diff}}
	    </p>
	    <br/>
	    <span class="title">Level :</span>
	    <br/>
	    <p ng-model="items.level" editable-text="items.level" e-name="items.level" e-form="editableForm" e-required>{{items.level}}
	    </p>
	    <br/>
	    <span class="title">Skill :</span>
	    <br/>
	    <p ng-model="items.skill" editable-text="items.skill" e-name="items.skill" e-form="editableForm" e-required>{{items.skill}}
	    </p>
	    <br/>
	    <span class="title">Qtype :</span>
	    <br/>
	    <p ng-model="items.qtype" editable-text="items.qtype" e-name="items.qtype" e-form="editableForm" e-required>{{items.qtype}}
	    </p>
	    <br/>
	    <span class="title">Type :</span>
	    <br/>
	    <p ng-model="items.type" editable-text="items.type" e-name="items.type" e-form="editableForm" e-required>{{items.type}}
	    </p>
	    <br/>
	    <br/>
		</div>
	  <div class="col-md-3">
	  	<br/>
	  	<h2>Items Are:</h2>
	  		<a ui-sref="app.comprehension.views({Itemtype: itemt})" ng-repeat="item in items.question.items">
			    <button type="button" ng-click="addQuestion(item.itype)" class="btn btn-primary">
				    {{item.itype}}
				  </button>
			  </a>
	  		<br/>
	  		<br/>
  			<select ng-model="itemtype" id="subject" name="subject" class="form-control">
	       <option value="">Select item Type</option>
         <option>0</option>
         <option>1</option>
         <option>2</option>
	      </select>
		     <br/>
		     <a ui-sref="app.comprehension.newviews({Itemtype: itemt})">
			     <button type="button" ng-click="addQuestion(itemtype)" class="btn btn-primary">
				    New
				  </button>
			  </a>
	  </div>
	</div>		
	<div ui-view></div>
	{{items}}
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</form>