
<div id="scrollableContent" class="contentArea">
  <div style="background-color: #6eb8b7; margin-left=3%; margin-right: 5%;">
    <div>                  
      <ul class="nav nav-tabs" role="tablist">
        <li ui-sref-active="active"  class="active"><a ui-sref="app.coursemodules" class="btn btn-info">Editor</a></li>
        <li ui-sref-active="active" class="active" style="background-color: #6eb8b7;"><a ui-sref="app.curriculum" class="btn btn-info">Player</a></li>        
      </ul>
    </div>
  </div>
  <div class="curriculum-listings">
  <ul>
    <a ui-sref='app.math.module({moduleId:module.id})'>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Math</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li></a>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Course A</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Course A</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Course A</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Course A</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Course A</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Course A</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li>
    <li>
    	<div class="curriculum-title">
      <img src="images/spacer.gif" />
      <span>Course A</span></div>
      <div class="curriculum-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipis...</div>
    </li>
  </ul>
 </div>
</div>


