<nav class="navbar navbar-inverse navbar-fixed" style="background-color: #20161e">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="dropdown">
        <a data-toggle="dropdown"><h2 class="glyphicon glyphicon-menu-hamburger" style="color: white;"></h2></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="app.dashboard"><h5>Home</h5></a></li>
          <li><a ui-sref="app.contentarea({name: 'Curriculum Manager'})" ng-model="area"><h5>Curriculum Manager</h5></a></li>
          <li><a ui-sref="app.content"><h5>Content Manager</h5></a></li>
          <li><a ui-sref="app.item"><h5>Item Manager</h5></a></li>
          <li><a ui-sref="app.test"><h5>Test Manager</h5></a></li>
          <li><a ui-sref="app.imagearea"><h5>Image Manager</h5></a></li>
          <li><a ui-sref="app.video"><h5>Video Manager</h5></a></li>
          <li><a ui-sref="/"><h5>Logout</h5></a></li>
        </ul>
      </div>
    </div>
    <div align="right" style="margin-right: 4%;">
      <h2 style="color: white;">Aspire Publisher</h2>
    </div>
  </div>
</nav>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="templates/Bredcrum/uiBreadcrumbs.tpl.html">
</ui-breadcrumbs> -->

<div ui-view></div>

<style type="text/css">
 .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li.current-menu-item > a {
  background-color: #6eb8d7;
  background-image: -moz-linear-gradient(center top , #333333, #000000);
  background-repeat: repeat-x;
  color: #FFFFFF;
  text-decoration: none;
}
</style>