<div id="scrollableContent" class="contentArea">

<form role="form"> 
<div class="row">
  <div class="col-lg-9">
    <div class="row"  >
        <div class="col-lg-12" >
           <div class="well well-sm"> 
                <strong> New Module Creation</h4></strong>
           </div>
        </div>
    </div>
  	<div class="row"  >
        <div class="col-lg-6" >
          
        	<div class="form-group">
      			<label>Module Id</label>
      			<input type="text" class="form-control" placeholder="New Module ID">
    		</div>
    	</div>
    </div>
    <div class="row"  >
        <div class="col-lg-6" >
    		<div class="form-group">
      			<label>Module title</label>
      			<input type="text" class="form-control" placeholder="Enter Module title">
    		</div>
    	</div>
		  <div class="col-lg-5" >
    		<br/>  
        	<button type="submit" class="btn btn-warning ">Atach Images</button>
    	</div>
    </div>
    <div class="row"  >
      <div class="col-lg-7" >
        <div class="form-group">	
  				<label>Module Description</label>
  				<textarea name="message" id="message" class="form-control" rows="6"></textarea>
  			</div>
  		</div>
      <div class="col-lg-4" >
        <div class="form-group">  
          <label>Selected standards</label>
          <textarea name="message" id="message" class="form-control" rows="6"></textarea>
        </div>
      </div>
	 </div>
	 <div class="row"  >
      <div class="col-lg-5" >
    		<div class="form-group">
    			<label>No of Lessons	</label>
				<select id="subject" name="subject" class="form-control">
					<option value="na" selected="">No of Lessons</option>
					<option value="">1</option>
					<option value="">2</option>
					<option value="">3</option>
					<option value="">4</option>
					<option value="">5</option>
					<option value="">6</option>
					<option value="">7</option>
					<option value="">8</option>
					<option value="">9</option>
					<option value="">10</option>
				</select>       
          	</div>
      </div>
      <div class="col-lg-3" >
          	<br/><br/>
          	 <a ui-sref="app.newmodule">
          	<button type="submit" class="btn btn-primary pull-right">Create Module</button></a>
      </div>
    </div>
  </div>
  <div class="col sidebar">
       <div style="width:;height:500px;line-height:2em;overflow:inherit;padding:0px;background-color: #f5f5f5; border: 2px solid #1C1C1C">
        <h2 align="center">Available Standards</h2>
        <br/>
        <div>
          <input type="text" placeholder="Search..." required>
          <input type="button" class="btn btn-success btn-xs pull-right" value="Search">
          </div>
        <br/>
          <div style="width:150px;margin-left:20px;height:300px;line-height:2em;overflow:inherit;padding:0px;background-color: #f5f5f5; border: 2px solid #1C1C1C" >
         
          <div class="list-group">
          hare krishna
            <a href="#" class="list-group-item">Item one</a>
            <a href="#" class="list-group-item">Item two</a>
            <a href="#" class="list-group-item">Item three</a>
            <a href="#" class="list-group-item">Item four</a>
          </div>
          </div>
        </div>
  </div>
</div>
</form>
</div>