
<form action="" method="get">
  <div class="login">
    <ul>
      <li>
        <input name="" type="text" value="jsmith@email.com" />
      </li>
      <li>
        <input name="" type="password" value="Password" />
      </li>  
      <a ui-sref="app.dashboard">
      <li>
      <input name="" type="submit" class="button" value="SIGN-IN" />
      </li></a>
      <li class="taR"><a ui-sref="forgot-password">FORGOT PASSWORD?</a></li>
      <li class="taR"><a ui-sref="new-account">CREATE NEW ACCOUNT!</a></li>
    </ul>
  </div>
</form>

