<head>
<link href="styles/main.css" type="text/css" rel="stylesheet" />
</head>


<div class="sectionContent active" id="section_content">
  <header id="section_header" class="section_header">
    <div class="userProfile">
      
            <div class="cb"></div>
    </div>
    <div class="info">
      <nav class="wizardTabs">
        
      </nav>
      <h2>SCHOOLS</h2>
      
    </div>
  </header>
<div  class="topbar">
			<tb-test-timer prompt="Total Time" test-duration="1800" question-start-time-offset="" test-time-over-ptr="testTimeOver" question-start-time="questionStartTime" class="ng-isolate-scope"><table class="timeContainer">
	<tbody><tr>
		<td>
			<span class="timerText ng-binding">
				Total Time
			</span>
		</td>
		<td class="timeHolder">
			<div class="timeBody">
				<span id="THours" class="timeFG ng-binding">00</span>
			</div>
		</td>
		<td class="timeSeparator">
			:
		</td>
		<td class="timeHolder">
			<div class="timeBody">
				<span id="TMinutes" class="timeFG ng-binding">22</span>
			</div>
		</td>
		<td class="timeSeparator">
			:
		</td>
		<td class="timeHolder">
			<div class="timeBody">
				<span id="TSeconds" class="timeFG ng-binding">20</span>
			</div>
		</td>
		<td>
			<span class="timerText">
				Question Time
			</span>
		</td>
		<td class="timeHolder">
			<div class="timeBody">
				<span id="QHours" class="timeFG ng-binding">00</span>
			</div>
		</td>
		<td class="timeSeparator">
			:
		</td>
		<td class="timeHolder">
			<div class="timeBody">
				<span id="QMinutes" class="timeFG ng-binding">00</span>
			</div>
		</td>
		<td class="timeSeparator">
			:
		</td>
		<td class="timeHolder">
			<div class="timeBody">
				<span id="QSeconds" class="timeFG ng-binding">31</span>
			</div>
		</td>
	</tr>
</tbody></table></tb-test-timer>


</div>




<div id="scrollableContent" class="contentArea">
    
    <div class="ques-box">
		<h3>
			Hare krishna Hare krishna krishna krishna Hare Hare,
			Hare rama Hare rama rama rama hare hare.
		</h3>
	</div>
	<div class="transition-pad">
		<h2 align="center">Hare krishna</h2>
		<div id="wrapper">
    <div class="dialpad compact">
        <div class="number"></div>
        <div class="dials">
            <ol>
                <li class="digits"><p><strong>1</strong></p></li>
                <li class="digits"><p><strong>2</strong></p></li>
                <li class="digits"><p><strong>3</strong></p></li>
                <li class="digits"><p><strong>4</strong></p></li>
                <li class="digits"><p><strong>5</strong></p></li>
                <li class="digits"><p><strong>6</strong></p></li>
                <li class="digits"><p><strong>7</strong></p></li>
                <li class="digits"><p><strong>8</strong></p></li>
                <li class="digits"><p><strong>9</strong></p></li>
                <li class="digits"><p><strong>10</strong></p></li>
                <li class="digits"><p><strong>11</strong></p></li>
                <li class="digits"><p><strong>12</strong></p></li>
                <li class="digits"><p><strong>13</strong></p></li>
                <li class="digits"><p><strong>14</strong></p></li>
                <li class="digits"><p><strong>15</strong></p></li>
                <li class="digits"><p><strong>16</strong></p></li>
                <li class="digits"><p><strong>17</strong></p></li>
                <li class="digits"><p><strong>18</strong></p></li>
                <li class="digits"><p><strong>19</strong></p></li>
                <li class="digits"><p><strong>20</strong></p></li>
                <li class="digits"><p><strong>21</strong></p></li>
                <li class="digits"><p><strong>22</strong></p></li>
                <li class="digits"><p><strong>23</strong></p></li>
                <li class="digits"><p><strong>24</strong></p></li>
                <li class="digits"><p><strong>25</strong></p></li>
                <li class="digits"><p><strong>26</strong></p></li>
                <li class="digits"><p><strong>27</strong></p></li>
                <li class="digits"><p><strong>28</strong></p></li>
                <li class="digits"><p><strong>29</strong></p></li>
                <li class="digits"><p><strong>30</strong></p></li>
            </ol>
        </div>
    </div>
</div>



<div>
	<div class="color-box1">
	</br>
	</div>
	</br>
	<h4 align="center">Attempt</h4>
</div>

<div>
	<div class="color-box2">
	</br>
	</div>
	</br>
	<h4 align="center">Mark for Review</h4>
</div>

<div>
	<div class="color-box3">
	</br>
	</div>
	</br>
	<h4 align="center">Not attempt</h4>
</div>

		
</div>





    <div class="profile-schools">
    <h3>I study at,</h3>
    <ul class="study current">
    	<li>
        	<h2 class="study-className">School A</h2>
            <p class="study-place">New York</p>
            <p class="study-duration">Mar 2011 - Till Date</p>
        </li>
    </ul>
    <h3>I studied at,</h3>
    <ul class="study mt20">
    	<li>
        	<h1 class="study-className">School A</h1>
            <p class="study-place">New York</p>
            <p class="study-duration">Mar 2011 - Till Date</p>
        </li>
        



    </ul>
    </div>
  </div>
</div>
<div class="cb"></div>
<footer class="footer" id="footer">
  <nav class="fr">
    <ul>
      <li><a href="javascript:;" class="icon_addSchool"><img src="images/spacer.gif" /><span>Add School</span></a></li>
      <li><a href="javascript:;" class="icon_editProfile"><img src="images/spacer.gif" /><span>Edit Profile</span></a></li>
    </ul>
  </nav>
  <nav class="fl">
    <ul>
      <li><a href="javascript:;" class="icon_back"><img src="images/spacer.gif" /><span>Back</span></a></li>
    </ul>
  </nav>
</footer>
<script src="scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".topBar-menu").click(function(){
		$(".leftNavPane").toggleClass("active");
		$(".sectionContent").toggleClass("active");
	});
});
</script>
</body>
</html>