<div class="curriculum-listings">
  <div class="container_div">
    <ul class="scrolling">
      <a>
        <li ng-repeat="skill in allSkills">   
          <div class="curriculum-title">
          <br/>
            <span align="center">{{skill.title}}</span>
          </div>
          <div class="curriculum-desc">{{skill.content}}</div>  
          <div align="center">
            <a class="btn btn-primary" ui-sref="app.adjecencies">Adjacencies</a>
            <a class="btn btn-primary" ui-sref="app.skillpopupedit({skillId: skill.id})">Edit</a>
            <a class="btn btn-primary" ng-click="deleteskill(skill)">Delete</a>
          </div>
          <br>
        </li>
        <li>
          <div align="center" style="margin-top: 25%;" ui-sref="app.skillpopup">
            <input type="button" class="btn btn-primary" value="New skill"data-toggle="modal" data-target="#myModal">
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>