<div class="curriculum-listings">
  <div class="container_div">
    <ul>
      <a>
        <li ng-repeat="skill in allSkills">   
          <div class="curriculum-title">
          <br/>
            <span align="center">{{skill.title}}</span>
          </div>
          <div class="curriculum-desc">{{skill.content}}</div>  
          <div align="center">
          <a class="btn btn-primary" ui-sref="app.areacourses({areaId: area.id})">Adjacencies</a>
          <a class="btn btn-primary" ui-sref="app.skillpopupedit({skillId: skill.id})">
               Edit</a>
          <a class="btn btn-primary" ng-click="deleteskill(skill)">Delete</a>
          </div>
          <br>
        </li>
      </a>
    </ul>
  </div>
</div>
<a align="right" ui-sref="app.skillpopup">
    <input type="button" class="btn btn-primary" value="New skill"data-toggle="modal" data-target="#myModal">
  </a>